.gallery__img {
object-fit: cover;
margin-bottom: 10px;
cursor: pointer;
transition: all 0.5s;
}
.gallery__img:hover {
transform: scale(1.02);
}
.gallery__img--big {
object-fit: cover;
height: 270px;
margin-bottom: 10PX;

}
.gallery__img--small {
object-fit: cover;
height: 200px;
margin-bottom: 10px;

}
.modal {
width: 100%;
min-height: 100vh;
background: rgba(0, 0, 0, 0.9);
position: fixed;
top: 0;
left: 0;
z-index: 1000000;
display: none;
}
.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modal__img {
    width: 39%;
}
.modal__boton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: rgb(44, 165, 8);
    font-size: 1.7em;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
}
.modal--open {
    display: block;
}
